<html>

<head>
    <title>test</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/jquery.Jcrop.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/jquery.Jcrop.min.css" type="text/css" />
</head>

<body>

<div id="upload">
    <form id="upload_form" action="/upload/path" enctype="multipart/form-data">
        <input type="file" id="original_picture" />
        <input type="submit" name="submit" value="submit">
    </form>
</div>

<div id="make_images">
    <img src="/static/cage_1.jpg" id="crop_target" />

    <form action="" id="mainForm" method="POST">
        <input id="x1" type="hidden" name="x1" value="" />
        <input id="y1" type="hidden" name="y1" value="" />
        <input id="x2" type="hidden" name="x2" value="" />
        <input id="y2" type="hidden" name="y2" value="" />
        <input type="submit" name="Make Images" />
    </form>
</div>

</body>

</html>
